<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amsi.dei.estg.ipleiria.grestauranteapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".vistas.DetalhesProdutoActivity"></activity>
        <activity android:name=".vistas.ListaProdutosActivity" />
        <activity android:name=".vistas.CriarPedidoActivity" />
        <activity android:name=".vistas.DetalhesPedidoActivity" />
        <activity android:name=".vistas.SettingsActivity" />
        <activity android:name=".vistas.LoginActivity" />
        <activity android:name=".vistas.AdminControlerActivity" />
        <activity android:name=".vistas.RegistarActivity" />
        <activity android:name=".vistas.MenuClienteActivity" />
        <activity
            android:name=".vistas.MenuFuncionarioActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>